<h1>Welcome to the Personal Budget</h1>
<div class="box">
  <form [formGroup]="myForm" (ngSubmit)="login()">
    <h2>Login</h2>
    <div class="inputBx">
      <span></span>
      <input type="text" formControlName="email" placeholder="Username" />
    </div>
    <div class="inputBx">
      <span></span>
      <input
        type="password"
        formControlName="password"
        placeholder="Password"
      />
    </div>
    <div class="inputBx">
      <button type="submit">Login</button>
    </div>
    <!-- Error message -->
    <div *ngIf="loginError" class="error-message">
      Incorrect username or password.
    </div>

    <div class="group">
      <a href="#">Forgot Password</a>
      <button type="button" (click)="navigateToSignup()">SignUp</button>
    </div>
  </form>
</div>
