<main>
  <body>
    <h1>Welcome to the Personal Budget</h1>
    <div class="box">
      <form>
        <h2>Sign Up</h2>
        <div class="inputBx">
          <span></span>
          <input type="text" placeholder="Username" />
        </div>
        <div class="inputBx">
          <span></span>
          <input type="password" placeholder="Password" />
        </div>
        <div class="inputBx">
          <input type="submit" value="Sign Up" (click)="signUp()" />
        </div>
        <div class="group">
          <a href="#" (click)="navigateToLogin()"
            >Already have an account? Login</a
          >
        </div>
      </form>
    </div>
  </body>
</main>
